@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Primary Brand Colors */
  --color-primary: #008cff;
  --color-primaty-10: #daebff;
  --color-link-primary: #008cff;
  --color-slider-track: #008cff;
  --color-btn: #008cff;

  /* Button Colors & Gradients */
  --color-btn-primary-bg: linear-gradient(93deg, #53b2fe, #065af3);
  --color-btn-primary-text: #ffffff;
  /* or #fff */
  --color-btn-mybiz-primary-bg: linear-gradient(256deg, #ff684a, #ff4959);

  /* MyBiz Specific Colors */
  --color-primary-mybiz: #ff664b;
  --color-primary-mybiz-inactive: #c2c2c2;
  --color-mybiz-primary-bg: linear-gradient(to bottom, #371f30, #371f30);
  --color-gradient-primary-mybiz: #fff1e7;

  /* New Gradient */
  --color-gradient-new: linear-gradient(to right, rgb(67, 225, 168), rgb(33, 147, 147));

  /* Typography */
  --font-family: "Lato", sans-serif;

  /* Borders / Radius */
  --btn-border-radius: 34px;
  /* sometimes 4px depending on context */
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
}

button {
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}